<!-- <div align="center">
    <br>
    <h1><b>Iniciar sesión</b></h1>
    <p>Inicia sesión para acceder a las opciones de la veterinaria.</p>
    <form [formGroup]="credenciales">
        <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input type="email"
                matInput
                placeholder="Correo electrónico"
                formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Clave</mat-label>
            <input type="password"
                matInput
                placeholder="Clave"
                formControlName="clave">
        </mat-form-field>
    </form>
    <br>
    <mat-card class="error" *ngIf="hayError">
        <mat-label><strong>{{mensaje}}</strong></mat-label>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" (click)="login()" [disabled]="!credenciales.valid">Enviar</button>
    <br><br>
    <button mat-raised-button color="primary" (click)="loginAdmin()">admin@admin.com</button>
    <br><br>
    <button mat-raised-button color="primary" (click)="loginCliente()">cliente@cliente.com</button>
    <br><br>
</div> -->
<app-form-login (nuevoLogin)="iniciarSesion($event)"></app-form-login>
<br>
<mat-card class="error" *ngIf="hayError">
    <mat-label><strong>{{mensaje}}</strong></mat-label>
</mat-card>
<app-spinner *ngIf="spinner"></app-spinner>