<app-card-email></app-card-email>
<div align="center">
    <br>
    <h1><b>Pedir turno</b></h1>
    <mat-radio-group color="primary" (change)="onChange($event)">
        <mat-label>Tipo de animal:</mat-label>
        <br><br>
        <mat-radio-button [checked]="true" value="Perro">Perro</mat-radio-button>
        <mat-radio-button value="Gato">Gato</mat-radio-button>
        <mat-radio-button value="Hurón">Hurón</mat-radio-button>
    </mat-radio-group>
    <br><br>
    <form [formGroup]="mascota">
        <mat-form-field>
            <mat-label>Nombre mascota</mat-label>
            <input type="text"
                matInput
                placeholder="Nombre mascota"
                formControlName="nombre">
        </mat-form-field>
    </form>
    <br>
        <mat-form-field>
            <mat-label>Fecha turno</mat-label>
            <input type="date"
                matInput
                [(ngModel)]="fecha"
                name="fecha">
        </mat-form-field>
    <mat-card class="error" *ngIf="hayError">
        <mat-label><strong>{{mensaje}}</strong></mat-label>
    </mat-card>
    <mat-card class="exito" *ngIf="exito">
        <mat-label><strong>{{mensaje}}</strong></mat-label>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" (click)="enviar()" [disabled]="!mascota.valid">Enviar</button>
    <br><br>
</div>