::ng-deep .error{
    width: 40%;
    background-color: red;
  }
  
  ::ng-deep .exito{
    width: 40%;
    background-color: rgb(5, 221, 34);
  }
  
  .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
  }